<section class="carousel">
  <div class="flex h-175 overflow-hidden justify-between container absolute z-20 items-center">
    <button class="border-l-2 border-b-2 border-[#ffffff8c] w-5 h-5 rotate-45 hover:border-light cursor-pointer"></button>
    <button class="border-r-2 border-t-2 border-[#ffffff8c] w-5 h-5 rotate-45 hover:border-light cursor-pointer"></button>
  </div>

  <div class="z-10 absolute w-full h-175">
    <picture>
      <source srcset="assets/images/carousel-1.jpg?height=500&as=avif 1x ,
      assets/images/carousel-1.jpg?height=1000&as=avif 2x ,
      ">

    <img class="object-cover w-screen h-full" src="assets/images/carousel-1.jpg" alt="First slide">
  </picture>
  </div>
  
</section>