<div class="bg-danger">

  <div class="container flex flex-col pt-24 pb-10">
    <div class="flex justify-center pb-12">
      <a class="text-center text-[#212529] hover:text-[#212529]/70" href="https://www.magnific.com/es/vector-gratis/artistas-femeninas-sonrientes-que-crean-jarron-ceramica-arcilla-aislada-ilustracion-vectorial-plana-ceramistas-dibujos-animados-haciendo-loza-colores_10173544.htm#fromView=search&page=1&position=6&uuid=e12b47a4-408d-4306-8cba-ffcaeab869d1&query=artesania">Imagen de pch.vector en Magnific</a>
    </div>

    <footer class="flex flex-wrap justify-between border-t border-dark pt-10">
      <p class="text-[#212529] font-black">Everyday Craft</p>
      <div>
        <ul>
          <ui>
            <a class=" nav-link-dark text-center text-[#212529] mr-10" href="./index.html">Home</a>
          </ui>
          <ui>
            <a class=" nav-link-dark text-center text-[#212529] mr-10" href="./pagefour.html">Galería</a>
          </ui>
          <ui>
            <a class=" nav-link-dark text-center text-[#212529] whitespace-nowrap" href="./paginaia.html">Página IA</a>
          </ui>
        </ul>
      </div>

      <div class="flex">
        <a class="pl-0 pr-3 text-[#212529]" href="https://www.google.com/"><i class="fa-brands fa-google-plus-g"></i></a>
        <a class="px-3 text-[#212529]" href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="pl-3 pr-0 text-[#212529]" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </footer>
</div>

</div>
